/* Inizio header */
#pattern{
    height: 180px;
    width: 100%;
    background-color: #4ea0ff;
    background-image: url(./img-booleaner/pattern.png);
}

#logo{
    background-image: url(./img-booleaner/logo.svg);
    width: 15%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

h1{
    font-size: 60px;
}
/* Fine header */