/* Inizio header */
#pattern{
    height: 180px;
    width: 100%;
    background-color: #4ea0ff;
    background-image: url(./img-booleaner/pattern.png);
}

#logo{
    background-image: url(./img-booleaner/logo.svg);
    width: 15%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

h1{
    font-size: 60px;
}
/* Fine header */

/* Inizio main */
.writtenby{
    color: #a6a6a6;
    font-size: 25px;
    width: 260px;
}

#azzurro{
    color: #53bceb; 25
}

#highlighted{
    background-color: #ffff00;
}

table{
    width: 100%;
}

thead{
    background-color: #20a9e5;
    color: #ffffff;
}

.row-azzurra{
    background-color: #b1e5f2;
}